* {
  box-sizing: border-box;
  padding: 0;
	margin: 0;
	border: 0;
}

body, html, #app {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

input,
button,
select,
textarea {
	box-shadow: inset 0 0 0 50px #373544;
	-webkit-text-fill-color: #fff;
  border: 0;
	border-radius: 0;
	width: 100%;
	outline: 0;
}

